body{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #65887c65;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    padding: 17px 20px 17px 20px;
}

#logo{
    width: 201px;
    height: auto;
}

#nav-kast-button {
    border:none;
    border:solid 1px white;
    border-radius: 1px;
    background: rgba(255, 255, 255,0);
    color: white;
    width: 104px;
    height: 27px;
    font-size: 15px;
    letter-spacing: 1px;
}

nav{
    display: flex;   
    width: 576px;
    justify-content: space-between;
    margin-right: 30px;
    padding: 10px;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    line-height: 28px;
    font-weight: 500;
}

.purple-section{
    height: 97vh;
    background-image: url("images/purple.png");
    background-size: cover;
    background-position: 0% 49%; 
}

.watch-party {
    text-align: center;
    font-size: 46px;
    color: #fff;
    font-family: Roboto, sans-serif;
    margin-top: 30px;
    font-weight: 550;
}

.watch-para {
    text-align: center;
    word-wrap: break-word;
    font-size: 20px;
    color: #fff;
    font-family: Roboto, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 28em;
    line-height: 28px;
    position: relative;
}

#laptop {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 610px;
    padding-top: 160px;;
}

.primary-button {
    background-color: #fe9000;;
}

.white-border {
    display: block;
    padding-top: 110px;
    padding-bottom: 110px;
    height: 350px;;
}

.featured-in {
    text-align: center;
    font-size: 23px;
    font-family: Roboto, sans-serif;
    margin-top: 0px;
    font-weight: 600;
    margin-bottom: 50px;
}

.layout-grid {

}

.quote {
    text-align: center;
    font-size: 24px;
    font-style: italic;
}

.teal-section {
    background-image: url("images/green-bg.jpg");
    height: 64vh;
    background-size: cover;
    background-position: 0% 0%; 
}

.what-is-kast {
    text-align: center;
    color: #fff;
    font-family: Roboto, sans-serif;
    position: relative;
    padding-top: 115px;
    font-size: 44px;
    margin-bottom: 60px;
    line-height: 50px;
}

.first-para {
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    line-height: 40px;
}

.second-para {
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    line-height: 40px;
}